*{
    margin: 0;
}


.clock-wrapper{
    /* border: 2px solid black; */
    width: 100%;
    height: 100vh;
    background-color: indianred;
    display: flex;
    justify-content: center;
    align-items:  center;
}

.clock-container{
    background-color: rgba(134, 209, 12, 0.768);
    width: 200px;
    height: 200px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: -20px -20px 15px rgba(0, 0, 0, 0.26)
}

.clock-container img{
    width: 40px;
    height: 40px;
    margin-top: 5px;
}